@import '../base.scss';
header {
    background-color: $dark-bg-color;
    color: $alt-text-color;
    text-align: center;
}

.col-site-name {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 100%;
}

.site-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: stretch;
    p {
        margin: .1em auto .3em;      
    }
}

